body {
display: flex;
flex-direction: row;
justify-content: center;
font-family: sans-serif;
margin: 0px;
background-color: black;
}

.main{
width: 100%;
background-color: black;
display: flex;
flex-direction: column;
justify-content: center;
max-width: 1380px;
}

header {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
padding: 10px;
background-image: url("https://s16.postimg.org/6pjrlbscl/header.jpg");
height: 80px;

}

section {
flex-shrink: 0;  
display: flex;
flex-direction: row;
justify-content: center;
}

nav {
display: flex;
flex-direction: column;
justify-content: flex-start;
background-color: black;
width: 30%;
align-items: center;
font-size: 1.5em; color: black;
font-weight: bold;
padding-top: 30px;

}

.link{
background-color: dimgray;
font-size: 1em; color: white;
margin: 5px; 
padding: 1px;
}

.maincontent {
display: flex;
flex-direction: column;
justify-content: top;
width: 70%;
background-color: black;
padding-left: 50px;
padding-right: 50px;
padding-top: 10px;
padding-bottom: 10px;
}

.biographycontent {
background-color: white;
border-top: 0px;
border-bottom: 0px;
padding: 5px;
display: flex;
flex-direction: column;
align-items: center;
font-family: Georgia, 'Times New Roman', Times, serif;
}

iframe{
margin: 50px;
}

.songscontent {
background-image: url("https://s-media-cache-ak0.pinimg.com/236x/83/bf/f2/83bff2a127c26f03c0534f842b3ed7e7.jpg");
border-top: 0px;
border-bottom: 0px;
padding: 5px;
display: flex;
flex-direction: column;
align-items: center;
font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
text-align: center;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
background-color: black;
font-size: 2.5em;
padding-top: 10px;
padding-bottom: 10px;
background-image: url("https://s13.postimg.org/vhq6qk6if/Astley_gif.gif");
}

.albumpicture{
border: solid black 1px;
margin: 10px;
padding: 2px;
text-align: center;
font-size: 1.5em;
}

.picturescontent {
max-width: 1360px;
background-color: white;
border-top: 0px;
border-bottom: 0px;
padding: 5px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.songtitle{
background-color: dimgray;
color: white;
}